html,
body,
main {
  background: #191919;
  color: #8dcffc;
  height: 100vh;
  text-align: center;
  font-family: 'Sans Pro', Helvetica, sans-serif;
}

#header {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  border-radius: 15px;
  border: 1px solid #8dcffc;
  margin: 20px 10px;
}
