$font-stack:  Calibre, sans-serif;
$primary-color: #fff;
$red-color: #b80f0a;
$blue-color:  #030633;

html,
body,
main {
  background: #191919;
  color: #8dcffc;
  height: 100vh;
  text-align: center;
  font-family: 'Sans Pro', Helvetica, sans-serif;
}

#header {
  justify-content: space-between;
  align-items: left;
  border-radius: 15px;
  border: 1px solid #8dcffc;
  margin: 20px 10px;
}
