$font-stack:  Calibre, sans-serif;
$primary-color: #fff;
$red-color: #b80f0a;
$blue-color:  #030633;

html,
body,
main {
  background: #191919;
  color: #8dcffc;
  height: 100vh;
  text-align: center;
  font-family: 'Sans Pro', Helvetica, sans-serif;
}

#header {
  justify-content: space-between;
  align-items: left;
  border-radius: 15px;
  border: 1px solid #8dcffc;
  margin: 20px 10px;
}

.sidebar-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 552px;
  bottom: 0;
  width: 40%;
  height: 100vh;
  padding: 75px 85px 50px;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../assets/img/christian.png');
}

.social_icons {
  height: 50px;
  margin: 10px;
  margin-right: 10px;
  padding-right: 0;
}

.iphone {
  height: 600px;
}

.about_container {
  position: absolute;
  left: 85px;
  right: 0;
  bottom: 15%;
  width: 65%;
}

.about {
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  margin-top: 0;
  font-family: 'Museosans 900', sans-serif;
  font-size: 36px;
  line-height: 42px;
}

.more-about {
  border: 1px solid #eee;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 45px;
}

.about-copy {
  display: block;
  width: 100%;
  margin-top: 25px;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Museosans 100', sans-serif;
  line-height: 26px;
  border-radius: 45px;
  font-weight: bolder;
  font-size: 1.3em;
  color: #011627ff;

  .link {
    text-decoration: none;
    color: #266a2e;
  }

  .link:hover {
    color: #1dcaff;
  }
}

.social {
  display: flex;
  margin-top: 45px;
  margin-bottom: 65px;
  opacity: 1;
  border-top: 10px;
  margin-left: 20px;
  justify-content: center;
}

.content-wrapper {
  position: static;
  overflow: visible;
  width: 60%;
  max-width: 1200px;
  margin-left: 40%;
  float: none;
  clear: none;
}

.project_section {
  width: 100%;
  height: 90vh;
  padding: 65px;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-text {
  line-height: 1.5;
}

.rails-tic-tac-toe-text {
  margin-top: 300px;
  color: #54e7c7;
  line-height: 1.5;
  margin-bottom: 100px;
}

#roshan-text,
#todo-text {
  color: #011627ff;
  line-height: 1.5;
}

div.btn-wrapper {
  flex-wrap: wrap;
}

div.btn-wrapper a {
  display: inline-block;
  border: 2px solid rgb(32, 109, 182);
  border-radius: 4px;
  padding: 5px 6px;
  margin: 5px;
  color: rgb(32, 109, 182);
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

div.btn-wrapper a:hover {
  background-color: rgb(32, 109, 182);
  color: white;
}

div.skills > div {
  display: inline-block;
  border: 2px solid rgb(32, 109, 182);
  border-radius: 4px;
  padding: 5px 6px;
  margin: 5px;
  color: rgb(32, 109, 182);
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

#section_1 {
  background-image: linear-gradient(180deg, #f4b93d, #f4b93d);

  h2 {
    color: #005ba9;
  }
}

#section_2 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../assets/img/tic.png');

  h2 {
    color: #54e7c7;
  }
}

#section_3 {
  background-image: linear-gradient(180deg, #54e7c7, #54e7c7);

  h2 {
    color: #011627ff;
  }
}

#section_4 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../assets/img/rails_fb.png');

  h2 {
    color: #005ba9;
  }
}

#section_5 {
  background-image: linear-gradient(180deg, #011627ff, #011627ff);

  h2 {
    color: #f4b93d;
  }
}

#section_6 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url('../assets/img/resume.jpg');

  h2 {
    color: #f4b93d;
  }
}
