$font-stack:  Calibre, sans-serif;
$primary-color: #fff;
$red-color: #b80f0a;
$blue-color:  #030633;

html,
body,
main {
  background: #191919;
  color: #8dcffc;
  height: 100vh;
  text-align: center;
  font-family: 'Sans Pro', Helvetica, sans-serif;
}

#header {
  justify-content: space-between;
  align-items: left;
  border-radius: 15px;
  border: 1px solid #8dcffc;
  margin: 20px 10px;
}

.sidebar-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 552px;
  bottom: 0;
  width: 40%;
  height: 100vh;
  padding: 75px 85px 50px;
  background-color: #fbf5f3ff;
  background-image: linear-gradient(180deg, #fbf5f3ff, #fbf5f3ff);
}

.about_container {
  position: absolute;
  left: 85px;
  right: 0;
  bottom: 15%;
  width: 65%;
}

html.w-mod-js *[data-ix="header-transition"] {
  opacity: 0;
  transform: translate(-25px, 0);
}

.about {
  display: flex;
  width: auto;
  height: auto;
  margin-top: 0;
  font-family: 'Museosans 900', sans-serif;
  color: #4a4a4a;
  font-size: 36px;
  line-height: 42px;
}

html.w-mod-js *[data-ix="text-slide"] {
  opacity: 0;
  transform: translate(-25px, 0);
}

.about-copy {
  display: block;
  width: 100%;
  margin-top: 25px;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Museosans 100', sans-serif;
  font-size: 16px;
  line-height: 26px;
}

html.w-mod-js *[data-ix="social"] {
  opacity: 0;
  transform: translate(-25px, 0);
}

.social {
  height: 24px;
  margin-top: 45px;
  margin-bottom: 65px;
  opacity: 1;
}

.dribbble_icon {
  margin-right: 30px;
  padding-right: 0;
}

.content-wrapper {
  position: static;
  overflow: visible;
  width: 60%;
  max-width: 1200px;
  margin-left: 40%;
  float: none;
  clear: none;
}

.project_section {
  width: 100%;
  height: 90vh;
  padding: 65px;
}

#section_1 {
  background-image: linear-gradient(180deg, #f4b93d, #f4b93d);

  h1 {
    color: #005ba9;
  }
}

#section_2 {
  background-image: linear-gradient(180deg, #005ba9, #005ba9);

  h1 {
    color: #54e7c7;
  }
}

#section_3 {
  background-image: linear-gradient(180deg, #54e7c7, #54e7c7);

  h1 {
    color: #95190cff;
  }
}

#section_4 {
  background-image: linear-gradient(180deg, #011627ff, #011627ff);

  h1 {
    color: #54e7c7;
  }
}

#section_5 {
  background-image: linear-gradient(180deg, #009ee2, #009ee2);

  h1 {
    color: #b80f0a;
  }
}

#section_6 {
  background-image: linear-gradient(180deg, #420039ff, #420039ff);

  h1 {
    color: #009ee2;
  }
}
